*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family:sans-serif;
}

#wrapper{
    width: 100%;
    height: 100vh;
}

main{
    background-color: rgb(17, 17, 17);
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}

aside{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 200px;
    height: 100%;
    flex-shrink: 0;
    
}

aside img{
    width: 80%;
    padding: 20px;
}

aside li{
    color: lightgray;
    margin-left: 30px;
    list-style-type: none;;
    margin-bottom: 10px;
}

aside h4{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.small-img img{
    height: 80px;
    display: none;
}

.nav-bottom{
   margin-top: 100px;
   margin-left: 30px;
    
}

.nav-bottom div{
    margin-top: 10px;
    margin-bottom: 10px;
}

.nuova-playlist{
    
    flex-grow: 1;
    overflow: auto;
}


.header{
    margin-left: 100px;
    margin-top: 30px;
}

.header a{
    text-decoration: none;
    color: lightgrey;
    padding: 10px;
    font-size: small;
}

.playlist{
    width: 80%;
    overflow: auto;
    flex-grow: 1;
    
}

.playlist h3{
    margin-top: 60px;
    margin-left: 30px;
}

.container{
    display: flex;
    justify-content: space-between;
    
}

.img-wrap{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px;
    width: calc( 100% / 6);    
    position: relative;
    
}

.img-wrap i{
    position: absolute;
    top: 40%;
    right: 40%;
    font-size: 30px;
    display: none;
    
}

.img-wrap:hover i{
    display: block;
}

.img-wrap img{
    width: 100%;
    display: block;
}

.overlay{
    
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
   
}

.img-wrap:hover .overlay{
    display: block;
}

.text-playlist h6{
    color: lightgrey;
    
}

.text-playlist{
    position: absolute;
    text-align: center;
    right: 40px;
    font-size: 12px;
}

.container2{
    display: flex;
    
}

.circle{
    border-radius: 50%;
    
}

footer{
    height: 70px;
    width: 100%;
    background-color:rgb(35, 35, 35);
}


.flex{
    display: flex;

}

.center{
    justify-content: center;
   
}

.song{
    height: 50px;
    width: 100%;
    
}

.song img{
    height: 100%;
    margin-top: 10px;
    
    
}

.song h5{
    margin-top: 30px;
    margin-left: 5px
    
}

.flex i{
    margin-left: 15px;
    margin-top: 30px;
    
}

.sinister{
    width: 33,3%;

}

.play{
   margin-bottom: 10px;
   margin-left: 15px;
   margin-right: 250px;
}

.play i{
    font-size: large;
}

.relative{
    position: relative;
    height: 5px;
    width: 200px;
    border-radius: 5px;
    background-color: gray;
    
    
}

.absolute{
    position: absolute;
    height: 5px;
    width: 40%;
    background-color: white;
    border-radius: 5px;
}

.column{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/*MEDIA QUERY*/

@media screen and (max-width:768px) {
    .container{
        flex-wrap: wrap;
    }

    .img-wrap{
        width: calc( 100% / 4);
        padding-bottom: 50px;
    }

    .sinister{
        width: 40%;
    }

   
}


@media screen and (max-width:576px) {
    .container{
        flex-wrap: wrap;
      justify-content: center;
    }

    
    .img-wrap{
        width: calc( 100% / 3);
        
    }

    .sinister{
        width: 40%;
    }
}
    

@media screen and (max-width:600px) {
    .container{
        flex-wrap: wrap;
      justify-content: center;
    }

    
    .img-wrap{
        width: calc( 100% / 3);
        
    }

    .sinister{
        width: 40%;
    }

    aside{
        width: 80px;
    }

    .logo{
        display:none ;
    }


    .small-img img{
        display: block;
        margin-left: 10px;
    }

    span{
        display: none;
    }

    aside h4{
        display: none;
    }

    .nuova-playlist{
        display: none;
    }

    hr{
        display: none;
    }
}
